@{
    ViewData["Title"] = "Gestão de Eventos";
}

<h2>Gestão de Eventos</h2>
<ul>
    <li><a asp-controller="Eventos" asp-action="IncluirEvento">Incluir Novo Evento</a></li>
    <li><a asp-controller="Eventos" asp-action="ListarEventos">Listar Eventos</a></li>
</ul>