@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=devide-width" />
        <link href="~/css/estilos.css" rel="stylesheet" />
        <title>Exemplo CSS</title>
    </head>
    <body>
        <div class="borda">
            <p>Primeiro exemplo de CSS</p>
        </div>

        <div class="borda cor-fonte">
            <p>Segundo Exemplo de CSS</p>
        </div>

    </body>
</html>
