@{
    ViewData["Title"] = "Home Page";
}
<h1>Exemplos de Action</h1>
<ul>
    <li>@Html.ActionLink("Visualizar PDF", "Arquivo", "Home")</li>
    <li>@Html.ActionLink("Visualizar Resultados ViewData/View Bag", "Resultado")</li>
</ul>